.sidebar {
    background-color: whitesmoke;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .logo {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .logo-image {
    max-width: 70%; /* Prevent the image from exceeding the sidebar's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits well */
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }
  
  .nav-item .icon {
    margin-right: 15px;
    font-size: 20px;
  }
  
  .nav-item:hover {
    background-color: rgba(42, 201, 42, 0.2);
    cursor: pointer;
  }
  
  
  .account-section {
    margin-top: auto; /* Pushes My Account to the bottom */
    width: 100%;
    text-align: left;
  }
  
  .separator {
    width: 100%;
    height: 0.5px;
    background-color: rgb(11, 235, 11);
    margin-bottom: 5px;
  }
  
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .nav-item {
      font-size: 16px;
      padding: 10px 15px;
    }
  
    .logo {
      font-size: 20px;
    }
  
    .user-profile {
      font-size: 14px;
    }
  
    .user-profile::before {
      width: 40px;
      height: 40px;
    } 
  }
  
  @media screen and (max-width: 480px) {
    .sidebar {
      width: 100px;
    }
  
    .nav-item {
      justify-content: center;
      font-size: 14px;
      padding: 10px;
    }
  
    .nav-item .icon {
      margin-right: 0;
      font-size: 16px;
    }
  
    .logo {
      font-size: 18px;
    }
  
  
  }